# Node modules
node_modules/
**/node_modules/

# Build outputs
dist/
app/**/dist/

# Environment files
.env
app/.env
# Symlinks to environment files
**/.env

# Deployment artifacts
deploy.zip
**/deploy.zip
deploy/
**/deploy/
deployments/
**/deployments/
LogFiles/
**/LogFiles/
deploy.sh
**/deploy.sh

**.DS_Store